body {
	font-family: 'Roboto';
}

#input-form {
	padding-left: 20px;
	width: 300px;
}

.fas {
	float: left;
}

.input-user-form{
	float: right;
	width: 90%;
}

.input-user-form:focus{
	border: 1px solid #0C0;;
}

.input-group{
	padding-bottom: 10px;
}

::placeholder {
	float: right;
}

#output-stuff{
	border-radius: 1px;
	background: lightgray;
}